.card {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.base,
.rate {
  margin: 0.5rem;
  flex: 3 1 1rem;
}

.percent {
  margin: 0.5rem;
  flex: 1 1 1rem;
  border-radius: 4%;
  text-align: right;
  padding: 0rem 0.8rem;
}

.minus {
  background-color: rgba(204, 0, 0, 0.4);
}

.plus {
  background-color: rgba(0, 204, 0, 0.4);
}

.equal {
  background-color: rgba(0, 0, 0, 0.4);
}
